:root {
  --brand-blue: #2196f3;
  --brand-white: #ffffff;
  --brand-grey: #757575;
  --brand-grey2: #212121;
  --black: #000000;
  --brand-background: #2f303a;
  --button-white: #f5f4fa;
  --footer-grey: rgba(255, 255, 255, 0.6);
  --border-grey: #ececec;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background: var(--brand-white);
  letter-spacing: 0.03em;
  /* font-weight: 400; */

  color: var(--brand-grey2);
  /* line-height: 0.15; /* podciaga ramki pod zdjecia */
}

/* Reset tagów */

h1,
h2,
h3,
h4,
ul,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  margin-top: 20px;
  font-style: normal;
}

button {
  border: none;
}

/* Koniec reset tagów */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-blue);
  margin-right: 93px;
}

.logo-black {
  color: var(--black);
}

header nav {
  margin-right: auto;
}

header nav a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
}

header nav ul li:not(:last-child) {
  margin-right: 46px;
}

header a {
  color: inherit;
}

header div > a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--brand-grey);
}

header svg {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 10px;
  display: block;
  /*   stroke-width: 0; */
  align-self: center;
  /* 
  stroke: var(--brand-grey); */
  fill: var(--brand-grey);
}

.flex-header {
  display: flex;
  align-items: center;
}

.flex-head-contacts {
  display: flex;
}

.flex-head-icons {
  display: flex;
}

.flex-head-icons:hover svg {
  fill: var(--brand-blue);
}

header a:hover,
header a:focus,
.a-current {
  color: var(--brand-blue);
}

header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-grey);
}
.margin-head-a {
  margin-right: 50px;
}

.mainheader {
  background: var(--brand-background);
  padding: 200px 0;
  text-align: center;
}

.mainheader h1 {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--brand-white);
}

.mainheader button {
  min-width: 200px;
  background: var(--brand-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 40px;
  padding: 10px 41px 10px 42px;
  color: var(--brand-white);
  cursor: pointer;
  letter-spacing: 0.06em;
}

.ourperks h3 {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.ourperks-icons {
  padding: 25px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  fill: var(--brand-grey2);
}

.ourperks li {
  width: 270px;
}
.ourperks p {
  line-height: 1.71;
  color: var(--brand-grey);
}

.flex-ourperks {
  display: flex;
  gap: 30px;
}

.aboutus {
  padding-top: 0px;
}

.aboutus h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.flex-aboutus,
.flex-ourteam {
  display: flex;
  gap: 30px;
}

.ourteam {
  background: var(--button-white);
}

.ourteam h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.ourteam-wrap {
  padding: 30px 0;
}

.ourteam h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.ourteam p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--brand-grey);
}

.ourteam li {
  background-color: var(--brand-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.flex-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}
.portfolio-buttons {
  margin-bottom: 50px;
}

.portfolio-buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--button-white);
  border-radius: 4px;

  color: var(--brand-grey2);
  cursor: pointer;
}

.portfolio-buttons button:hover,
.portfolio-buttons button :focus {
  background-color: var(--brand-blue);
  color: var(--brand-white);
}

.portfolio-contents h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-contents p {
  font-size: 16px;
  line-height: 1.87;

  color: var(--brand-grey);
}

.portfolio-contents li {
  background-color: var(--brand-white);
  /* border: 1px solid #eeeeee; */
}
.portfolioliborders {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

/* End portfolio items*/
footer {
  background-color: var(--brand-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer a {
  font-style: normal;
  line-height: 24px;
  /* or 171% */

  color: var(--footer-grey);
}
footer ul li:not(:last-child) {
  margin-bottom: 9px;
}
.logo-white {
  color: var(--brand-white);
}
footer a:hover,
footer a:focus {
  color: var(--brand-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* .flex-mainh {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
